<div>
    <div class="container text-center py-5 mb-4">
      <div class="mt-1 mb-5" style="background-color: rgb(255, 189, 24); width: 800px; height: 280px; margin: 0 auto; text-align: center;">
        <h1 class="h1 mb-0" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white">about the organization</h1>
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white; font-size: 25px;"> CS 3377: Ethical Issues in Computing </p>
        <p style="margin-left: 10px; margin-right: 10px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white; font-size: 20px;"> Provides an overview of ethical and legal issues and implications associated with computing and information technology. Topics include ethical frameworks, information privacy, information security, intellectual property, software and computer reliability, artificial intelligence, professional ethics, and more. </p>
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white; font-size: 20px;"> *Courtesy of the SMU Course Catalog* </p>
      </div>

      <div class="mt-5 mb-4" style="background-color: rgb(255, 189, 24); width: 800px; margin: 0 auto; text-align: center;">
        <h1 class="h1 mt-2 mb-2" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">about the team</h1>
        <div style="display: flex; justify-content: space-around; text-align: center;">
          <div>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;"> <b> Zakiya Caldwell </b> <br> Computer Science Major <br> Art Major </p>
          </div>
          <div>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;"> <b> Morgan Glover </b> <br> Computer Science Major <br> Data Science Major <br> History and Human Rights Minor </p>
          </div>
          <div>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;"> <b> Karina Shin </b> <br> Computer Science Major <br> Economics Major </p>
          </div>
      </div>
    </div>
  </div>
  