<nav class="navbar navbar-expand-lg navbar-dark bg-gray-dark text-white" style="background-color: rgb(255, 189, 24); height: 60px; display: flex; justify-content: center; align-items: center;">
  <div class="d-flex justify-content-center align-items-center">
    <a class="text-white link-reset text-inherit pr-3" href="/" style="font-size: 30px; text-align: center;"> got ethics? </a>

    <!-- <a class="btn btn-primary" style="background-color: rgb(255, 255, 255); width: 150px; height: 40px; font-size: 20px; text-align:center; color: rgb(255, 189, 24); outline-color: white;" href="/about"> <b> About Us </b></a> -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </div>
  
  <div class="d-flex justify-content-center align-items-center">
    <!-- <a class="text-white link-reset text-inherit pr-3" href="/" style="font-size: 30px; text-align: center;"> got ethics? </a> -->
    <a class="btn btn-primary" style="background-color: rgb(255, 255, 255); width: 150px; height: 40px; font-size: 20px; text-align:center; color: rgb(255, 189, 24); outline-color: white;" href="/about"> <b> About Us </b></a>
  </div>
</nav>
