<div class="bg-gray-light border-bottom border-gray-light">
  <div class="container text-center py-5 mb-3">
    <div class="mt-3 mb-3">
      <form>
        <input type="text" id="userInput" name="userInput" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: rgb(255, 189, 24); width: 450px; height: 60px; font-size: 30px; color: white; text-align: center;" placeholder="Enter Your Ethical Question...">
        <style> #userInput::placeholder {color: white } </style>
        <!-- <input type="submit" value="Submit"> -->
      </form>
    </div>
    <div class="mt-5" style="display: flex; justify-content: center;">
      <a class="btn btn-primary" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 30px; background-color: rgb(55, 222, 55); width: 200px; height: 100px; font-size: 40px; text-align:center; display: flex; justify-content: center; align-items: center" href="/result"> FOR </a>
      <a class="btn btn-primary" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 30px; background-color: rgb(151, 151, 151); width: 200px; height: 100px; font-size: 40px; text-align: center; display: flex; justify-content: center; align-items: center;" href="/result"> NEUTRAL</a>
      <a class="btn btn-primary" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 30px; background-color: rgb(242, 17, 17); width: 200px; height: 100px; font-size: 40px; text-align: center; display: flex; justify-content: center; align-items: center" href="/result"> AGAINST </a>
    </div>
  </div>
</div>

<div class="text-black text-center mt-5">
  <h1 class="h2 mb-2"><u> How to Use: </u> </h1>
  <p class="lead"> <b> 1. Enter an Ethical Question </b> </p>
  <p class="lead"> <b> 2. Select the perspective you want to read about </b> </p>
  <p class="lead"> <b> 3. Broaden your worldview with different outlooks! </b> </p>
</div>
